{% extends 'base.html.twig' %}

{% block body %}

	<div
		class="media">

		<!--<img class="align-self-start mr-3" src="{# program.poster #}" alt="{# program.title #} poster">-->

		<div class="media-body">

			<h1>{{program.title}} : saison #{{ season.number }}</h1>


			<h2>Épisode {{episode.number}}
					:
					"{{episode.title}}":</h2>
		
			

		


		</div>

	</div>


	<a href="{{ path('program_index') }}">

		Retour à la liste des programmes

	</a>

{% endblock %}
