{% extends 'base.html.twig' %}

{% block body %}

	<div
		class="media">

		<!--<img class="align-self-start mr-3" src="{# program.poster #}" alt="{# program.title #} poster">-->

		<div class="media-body">

			<h1 class="mt-0">Saison n°{{ season.number }}
				de
				{{ program.title }}</h1>

			<p>Année :
				{{ season.year }}</p>

			<p>Description :
				{{ season.description }}</p>

		</div>

		{% for episode in episodes %}

			<p>Épisode numéro : {{episode.number}}</p>
			<p>Épisode titre : {{episode.title}}</p>
		
					{# Lien vers le détail de l'épisode : #}
			<a href="{{ path("program_episode_show", {"program": program.id, "season": season.id, "episode": episode.id })}}">Voir le détail de l'épisode.</a>


		{% endfor %}

	</div>


	<a href="{{ path('program_index') }}">

		Retour à la liste des programmes

	</a>

{% endblock %}
